body {
    font-family: Arial, sans-serif;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* CSS untuk menampilkan radio button sejajar */
  fieldset {
    border: none;
    margin-bottom: 10px;
  }
  
  fieldset legend {
    margin-bottom: 5px;
  }
  
  fieldset label {
    display: inline-block;
    margin-right: 10px;
  }
  
  form {
    margin: 0 auto;
    max-width: 600px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5cm;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }
  